<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
 integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <nav class= " navbar navbar-dark bg-primary "style="background-color: #003471; display:flex">
        <img src="../../assets/Kainos_Logo.png" style="height: 50px;" alt="Kainos Logo" class="d-inline-block align-top" alt="">
        <!-- <div class="d-flex justify-content-start p-2 col-md-4"> -->
            <a class="nav-element" href="/home">Career Lattice</a>
    </nav>
<body></body>
