<table>
    <ng-container>
        <tr role='row'>
            <th class='job-family' scole='col' [attr.colspan]='capabilities.length + 1' rowspan='1' *ngFor='let department of departmentName'>{{department.Name}}</th>
        </tr>
        <tr >
            
        </tr>

        <tr>
                <th *ngFor='let cap of rolesCap | keyvalue' >{{cap.key}}</th>
           

            
        </tr>
            <tr>
                <th *ngFor='let cap of rolesCap | keyvalue;  let i = index '>
                

                        <p *ngFor='let p of cap.value'>
                                <a href='#'>{{p}}</a>
                        </p>
                        
                    </th>
                
            </tr>
    </ng-container>
</table>
<br> 