<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-85 p-b-20">
            <div class="login100-form validate-form">
                <span class="login100-form-title">
                    <img src="../../assets/Kainos_Logo 2.png" width="80%">
                </span>

                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <div class="wrap-input100 m-t-85 m-b-35" data-validate = "Enter username">
                            <input class="form-control" pattern="^[A-Za-z0-9.-]+@kainos.com$" type="text" formControlName="username" name="Username" placeholder="Username" required>
                            <div *ngIf="form.controls['username'].invalid && (form.controls['username'].touched || submitted)" class="alert alert-danger">
                                <div *ngIf="form.controls['username'].errors.required">
                                    Username is required.
                                </div>
                                <div *ngIf="form.controls['username'].errors.pattern">
                                    Username must be a kainos email.
                                </div>
                            </div>
                        </div>
                
                        <div class="wrap-input100 m-b-50" data-validate="Enter password">
                            <input type="password" formControlName="password" name="Password" placeholder="Password" required>
                            <div *ngIf="form.controls['password'].invalid && (form.controls['password'].touched || submitted)" class="alert alert-danger">
                                <div *ngIf="form.controls['password'].errors.required">
                                    Password is required.
                                </div>
                            </div>
                        </div>

                        <div class="container-login100-form-btn">
                            <button class="form-control" type="submit" name="Submit" >
                                Login
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
