<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-85 p-b-20">
            <div class="login100-form validate-form">
                <span class="login100-form-title">
                    <img src="../../assets/Kainos_Logo 2.png" width="80%">
                </span>

                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "Enter username">
                        <input class="input100" type="text" formControlName="username" name="Username">
                        <span class="focus-input100" data-placeholder="Username"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
                        <input class="input100" type="password" formControlName="password"  name="Password">
                        <span class="focus-input100" data-placeholder="Password"></span>
                    </div>
                    

                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn">
                            Login
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
