.discover {
    background-color: #009639;
}
.explore {
    background-color: #00558c;
}
.inspire {
    background-color: #5c068c;
}

.modal-title {
    color: white;
}

button.close {
    color: white;
}