<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Add Role</h5>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss()">
    x
  </button>
</div>

<form [formGroup]="addRoleForm" (ngSubmit)="onSubmit()" autocomplete="off">
  <div class="modal-body" data-keyboard="false" data-backdrop="static">
    <div class="form-group">
      <label for="roleName">Role Name</label>
      <input
        type="text"
        formControlName="roleName"
        maxlength="100"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && formControls.roleName.errors }"
        required/>
      <div
        *ngIf="submitted && formControls.roleName.errors"
        class="invalid-feedback">
        <div *ngIf="formControls.roleName.errors.required">
          Role Name is a required field
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="roleSummary">Role Summary</label>
      <input
        type="text"
        formControlName="roleSummary"
        maxlength="65000"
        class="form-control"
        [ngClass]="{'is-invalid': submitted && formControls.roleSummary.errors}"
        required/>
      <div
        *ngIf="submitted && formControls.roleSummary.errors"
        class="invalid-feedback">
        <div *ngIf="formControls.roleSummary.errors.required">
          Role Summary is a required field
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="roleSharePointLink">Role Sharepoint Link</label>
      <input
        type="url"
        formControlName="roleSharePointLink"
        maxlength="500"
        class="form-control"
        [ngClass]="{'is-invalid': submitted}"
        pattern="https://kainossoftwareltd.sharepoint.com/.+"
        required/>
      <div
        *ngIf="submitted"
        class="invalid-feedback">
        <div *ngIf="formControls.roleSharePointLink.errors?.required">
          Role Sharepoint link is a required field
        </div>
        <div *ngIf="formControls.roleSharePointLink.errors?.pattern">
          Role Sharepoint link is not valid (must start with https://kainossoftwareltd.sharepoint.com/)
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="activeModal.dismiss()"
    >
      Close
    </button>
    <button type="submit" class="btn btn-success">
      Add Role
    </button>
  </div>
</form>
