<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class ="container">
<div class="grid-container">
    <div class="row">

        <div class="col">
            <div class="card">
                <a href="http://google.com"> </a>
                    <img class="card-img-top" src="../../assets/salesmarketing.png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title"><a>Sales & Marketing</a></h4>
                    </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img class="card-img-top" src="../../assets/engineering.png" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title"><a>Technical</a></h4>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>


        <div class="col">
            <div class="card">
                <img class="card-img-top" src="../../assets/consulting.png" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title"><a>Consulting</a></h4>
                </div>
            </div>
        </div>
    </div>


    <div class="row">

        <div class="col">
            <div class="card">
                <img class="card-img-top" src="../../assets/experiencedesign.png" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title"><a>Experience Design</a></h4>
                </div>
            </div>
        </div>


        <div class="col">
            <div class="card">
                <img class="card-img-top" src="../../assets/managing.png" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title"><a>Management</a></h4>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img class="card-img-top" src="../../assets/centralservices.png" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title"><a>Central Services Team</a></h4>
                </div>
            </div>
        </div>
    </div>
</div>
</div>