<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<p>landing-page works!</p>


<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <a href="http://google.com">
                <img class="card-img-top" src="../../images/Group.png" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title"><a>Applied Innovation</a></h4>
                    <a href="#" class="btn btn-primary">Here</a>
                </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top" src="../../images/newconsulting.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title"><a>Consulting</a></h4>
                <p class="card-text"></p>
                <a href="#" class="btn btn-primary">Here</a>
            </div>
        </div>
    </div>


    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top" src="../../images/cypersecutiryy.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title"><a>Cyber Security</a></h4>
                <p class="card-text"></p>
                <a href="#" class="btn btn-primary">Here</a>
            </div>
        </div>
    </div>
</div>