.card-title {
    text-align: center
}

.card-title {
    font-family: "Helvetica", serif, times;
    font-weight: lighter;
}


.grid-container {
    padding: 150px;
   }

   .card {
    margin:20px 0px;
   }
