#openDescriptionBtn {
    background-color: #ededed;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    color: black;
    margin: 20px 0;
}

#openDescriptionBtn:hover {
    cursor: pointer;
}

#descriptionContainer label {
    margin-top: 20px;
}

.modal-header {
    background-color: #003471;
    color: white;
}