#openDescriptionBtn {
    background-color: #ededed;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: black;
    margin: 20px 0;
}

#openDescriptionBtn:hover {
    cursor: pointer;
}