.card-title {
    text-align: center
}

.card-title {
    font-family: "Helvetica", serif, times;
    font-weight: lighter;
}

.grid-container {
    padding-top: 50px 0 0 0;
}

.card {
    margin:20px 0px;
    cursor: pointer;
}